image:
  repository: tabulario/iceberg-rest
  tag: "latest"
resources:
  requests:
    memory: 256Mi
    cpu: 100m
catalog:
  warehouse: s3://lakehouse-dev-warehouse/
  s3:
    endpoint: http://minio.lakehouse-platform.svc.cluster.local:9000
    accessKeyId: admin
    secretAccessKey: changeme123
