minio:
  mode: standalone
  replicas: 1
  # Use SealedSecret for credentials
  existingSecret: "minio-creds"
  persistence:
    size: 10Gi
  resources:
    requests:
      memory: 256Mi
      cpu: 100m
