image:
  repository: tabulario/iceberg-rest
  tag: "latest"
resources:
  requests:
    memory: 512Mi
    cpu: 250m
  limits:
    memory: 1Gi
    cpu: 500m

catalog:
  warehouse: s3://lakehouse-staging-warehouse/
  s3:
    endpoint: http://minio.lakehouse-platform.svc.cluster.local:9000
    existingSecret: "minio-creds"
