trino:
  server:
    coordinator:
      jvm:
        maxHeapSize: "4G"
      config:
        query:
          max-memory: "4GB"
      resources:
        requests:
          memory: 4Gi
          cpu: 2000m
        limits:
          memory: 8Gi
          cpu: 4000m
    worker:
      jvm:
        maxHeapSize: "4G"
      resources:
        requests:
          memory: 4Gi
          cpu: 2000m
        limits:
          memory: 8Gi
          cpu: 4000m

  additionalCatalogs:
    iceberg: |
      connector.name=iceberg
      iceberg.catalog.type=rest
      iceberg.rest-catalog.uri=http://iceberg-catalog.lakehouse-platform.svc.cluster.local:8181
      iceberg.rest-catalog.warehouse=s3://lakehouse-staging-warehouse/
      fs.native-s3.enabled=true
      s3.endpoint=http://minio.lakehouse-platform.svc.cluster.local:9000
      s3.path-style-access=true
      s3.aws-access-key=${ENV:S3_ACCESS_KEY}
      s3.aws-secret-key=${ENV:S3_SECRET_KEY}
      s3.region=us-east-1

  env:
    - name: S3_ACCESS_KEY
      valueFrom:
        secretKeyRef:
          name: minio-creds
          key: accessKeyId
    - name: S3_SECRET_KEY
      valueFrom:
        secretKeyRef:
          name: minio-creds
          key: secretAccessKey

  # Disabled in favor of SealedSecret 'minio-creds'
  secrets: null
